body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ebebeb;
}
/* tarjetas productos que estan en el carrito*/

.main-carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
}

.carrito{
    flex: 1 1 300px;
    margin-top:40px;
    max-width: 700px;
    min-width: 400px;
}
.producto-en-carrito {
    display: flex;
    flex: 1 1 300px;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: black;
    background-color:#ffffff ;
    margin: 10px;
    border-radius: 20px;
    box-shadow: -20px -0px 10px 9px rgba(0,0,0,0.3);
}

.producto-en-carrito img{
    height: 100px;
    width: 30%;
    max-width: 100px;
    aspect-ratio: 1.5;
}

.producto-en-carrito h3{
    margin-left: 15px;
    width: 150px;
    text-transform: uppercase;
    font-size:small;
}

.producto-en-carrito .precio{
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: medium;
  margin-right: 10px;
}
.eliminar img{ 
    width: 25px;
    height: 25px;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.cantidad{
    font-size: smaller;
    margin: 5px;
}



.botones{
    font-size: large;
    padding: 1px 1px;
    background-color: #30AEE0;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
}

.botones:hover{
    background-color: #2a2a2a;
}

.totales{
    box-shadow: 1px 1px 20px 10px rgba(0,0,0,0.64);
    border-radius: 20px;
    width: 400px;
    margin-top: 50px;
    color:black;
    background-color: white;
    margin-bottom: 50px;
}

.totales p{
    margin-top: 30px;
    margin-bottom: 30px;
}



.vaciar:hover{
    background-color: #2a2a2a;
    color: white;
}

.vaciar{
    padding: 10px 10px;
    background-color: #30AEE0;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    margin: 20px;
    border: none;
    font-size: large;
}



.comprar{
    padding: 10px 10px;
    background-color: #30AEE0;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    width:200px ;
    margin: 10px;
    border: none;
    font-size: large;
}

.comprar:hover{
    background-color: #2a2a2a;
    color: white;

}
    


.carrito-vacio p {
    color: #ffffff;
    text-decoration: none;
    background-color: #30AEE0;
    padding: 10px;
    border-radius: 20px;
}

.carrito-vacio p:hover{
    background-color: #2a2a2a;
}

.carrito-vacio img{
    display: block;
    margin: auto;
    height: 200px;
    padding: 30px;
}



/*responsive*/

@media (max-width: 991px) {
  .main-carrito {
    flex-direction: column;
    align-items: center;
  }

  .carrito, .totales {
    width: 100%;
    max-width: 90%;
  }

  .totales {
    order: 1;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .carrito {
    order: 2;
  }
}

