#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  
  
  .read-the-docs {
    color: #888;
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  *{
    box-sizing: border-box;
  }
  
  /*Cuerpo completo de la pagina*/
  
  body{
    margin: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ebebeb;
  }
  
  /*titulo de la categoria en pantalla*/
  .titulo{
    padding: 20px;
    border-radius: 15px;
    color: black;
    margin: 20px auto;
    max-width: 500px;
    
  }
  
  
  .tiempo{
    position: sticky;
    background-color: rgb(1,75,160, .5);
    z-index: 15;
    bottom: 0;
  }
  
  